{% extends "base.html" %}

{% block titulo %}
    Consultorio - Marcar Consulta
{% endblock %}

{% block conteudo %}
    <div class="mycard">
        <h1>Marcar Consulta</h1>
        
        <form method="POST" action="{% url 'marcarConsulta' %}">
            {% csrf_token %}
            <label for="medico">Médico:</label>
            <input type="text" id="medico" name="medico" required><br>

            <label for="dia">Data:</label>
            <input type="date" id="dia" name="dia" required><br>

            <label for="horario">Horário:</label>
            <input type="time" id="horario" name="horario" required><br>

            <label for="plano">Plano de Saúde:</label>
            <input type="text" id="plano" name="plano" required><br>

            <button type="submit">Marcar Consulta</button>
        </form>

        <h2>Consultas Disponíveis</h2>
        <ul>
            {% for l in marcaConsulta %}
            <li>{{ l.medico }} | {{ l.dia }} | {{ l.horario }} </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
